<section>
  <nav>
    <div class="menu">
      <app-svg-icon name="hamburger"></app-svg-icon>
      Menu
    </div>
    <div class="logo">
      <app-svg-icon name="logo"></app-svg-icon>
    </div>
    <div class="controls">
      <app-svg-icon name="search"></app-svg-icon>
      <app-svg-icon name="account"></app-svg-icon>
      <app-svg-icon name="wishlist"></app-svg-icon>
      <app-svg-icon name="cart"></app-svg-icon>
    </div>
  </nav>
  <section>
    <h1 class="title">
      BE YOUR OWN REBEL
    </h1>
    <div class="description">
      Get summer ready with Hooligans. Find your perfect pair of sunglasses.
    </div>
    <div class="shopButton">
      Shop now and get your shades on
    </div>
  </section>
</section>
